/* ---Main--- */
.Logo{
    width: 70px;
}

/* Header */

.carousel-inner img{
    width: 100%;
    height: 500px;
    
}

.carousel-inner h1{
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.carousel-inner p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



/* ---NORRA EUROPA--- */

 /* Rubrik Norra EU */
.display-2{
    margin-top: 20%
}

.col-md-5 img{
    width: 250px;
    height: 150px;
}