<!DOCTYPE html>
<html lang="sv">
<head>
    <title>YourGEO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="layout.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">

      <nav>
          <ul>
              <li><a href="index.html">Startsida</a></li>
              <li><a href="#">Fakta</a></li>
              <li><a href="#">Frågor</a></li>
              <li id="info"><a href="#">Info</a></li>
          </ul>
      </nav>

      <main>
        <p>Välj en av följade områden för att nå ländernas fakta!</p>

        <ul>
            <li><a href="north.html">Norra Europa</a></li>
            <li><a href="#">Östra Europa</a></li>
            <li><a href="#">Södra Europa</a></li>
            <li><a href="#">Västra Europa</a></li>
        </ul>
      </main>
    </div>
</body>
</html>
