<!DOCTYPE html>
<html lang="se-sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your GEO</title>
        <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
        <meta name="description" content="Geographic for kids">
        <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
        <link rel="shortcut icon" href="/static/img/Logo.png" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <!-- Navigation meny -->
            <nav class="navigation navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/"><img class="logo" src="/static/img/Logo.png" alt="Logotyp"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hem <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Läs På
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="north_facts">Norra Europa</a>
                                <a class="dropdown-item" href="west_facts">Västra Europa</a>
                                <a class="dropdown-item" href="south_facts">Södra Europa</a>
                                <a class="dropdown-item" href="east_facts">Östra Europa</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quiz
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="north_quiz">Norra Europa</a>
                                <a class="dropdown-item" href="west_quiz">Västra Europa</a>
                                <a class="dropdown-item" href="south_quiz">Södra Europa</a>
                                <a class="dropdown-item" href="east_quiz">Östra Europa</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Main -->
        <main role="main">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="First-pic" src="/static/img/kidsplaying.jpg" alt="First slide">
                        <div class="container homepage">
                            <div class="carousel-caption text-left innertext">
                                <h1>Lär dig Geografi</h1>
                                <p>YourGeo är en fakta-baserad sida för lärande som kan användas<br> i klassrummet eller hemma och på flera plattformar!</p>
                                <p>Läs fakta och svara på quiz!</p>
                                <p><a class="btn btn-lg btn-primary" href="north_facts" role="button">Börja nu</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Lista över vart alla länder hör till-->
            <div class="container marketing">
                <hr class="featurette-divider">
                 <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Norra Europa</th>
                            <th>Västra Europa</th>
                            <th>Södra Europa</th>
                            <th>Östra Europa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--Norra-->
                            <td>Island</td>
                            <!--Västra-->
                            <td>Irland</td>
                            <!--Södra-->
                            <td>Spanien</td>
                            <!--Östra-->
                            <td>Ukraina</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Norge</td>
                            <!--Västra-->
                            <td>Storbritannien</td>
                            <!--Södra-->
                            <td>Portugal</td>
                            <!--Östra-->
                            <td>Polen</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Sverige</td>
                            <!--Västra-->
                            <td>Tyskland</td>
                            <!--Södra-->
                            <td>Italien</td>
                            <!--Östra-->
                            <td>Slovakien</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Finland</td>
                            <!--Västra-->
                            <td>Nederländerna</td>
                            <!--Södra-->
                            <td>Österrike</td>
                            <!--Östra-->
                            <td>Rumänien</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Island</td>
                            <!--Västra-->
                            <td>Irland</td>
                            <!--Södra-->
                            <td>Spanien</td>
                            <!--Östra-->
                            <td>Ukraina</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Ryssland</td>
                            <!--Västra-->
                            <td>Frankrike</td>
                            <!--Södra-->
                            <td>Tjeckien</td>
                            <!--Östra-->
                            <td>Moldavien</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Danmark</td>
                            <!--Västra-->
                            <td>Belgien</td>
                            <!--Södra-->
                            <td>Schweiz</td>
                            <!--Östra-->
                            <td>Vitryssland</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Estland</td>
                            <!--Västra-->
                            <td>Luxemburg</td>
                            <!--Södra-->
                            <td>Liechtenstein</td>
                            <!--Östra-->
                            <td>Kosovo</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Lettland</td>
                            <!--Västra-->
                            <td>Andorra</td>
                            <!--Södra-->
                            <td>Slovenien</td>
                            <!--Östra-->
                            <td>Azerbajdan</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>Litauen</td>
                            <!--Västra-->
                            <td>Monaco</td>
                            <!--Södra-->
                            <td>Ungern</td>
                            <!--Östra-->
                            <td>Georgien</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Kroatien</td>
                            <!--Östra-->
                            <td>Kazakstan</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Bosnien och Hercegovina</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Montenegro</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Albanien</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Serbien</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Grekland</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Bulgarien</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Makedonien</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Turkiet</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Malta</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>San Marino</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--Norra-->
                            <td>-</td>
                            <!--Västra-->
                            <td>-</td>
                            <!--Södra-->
                            <td>Vatikanstaden</td>
                            <!--Östra-->
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
                <hr class="featurette-divider">
            </div>
            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Upp</a></p>
                <p>&copy; 2017-2018 YourGeo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placerad längts ner för att sidan ska laddas snabbare -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
