<%
    from random import shuffle
    %>
<!DOCTYPE html>
<html lang="se-sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your GEO</title>
        <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
        <meta name="description" content="Geographic for kids">
        <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
        <link rel="shortcut icon" href="/static/img/Logo.png" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <!-- Navigation meny -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/"><img class="logo" src="/static/img/Logo.png" alt="Logotyp"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Hem <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Läs På
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="north_facts">Norra Europa</a>
                                <a class="dropdown-item" href="west_facts">Västra Europa</a>
                                <a class="dropdown-item" href="south_facts">Södra Europa</a>
                                <a class="dropdown-item" href="east_facts">Östra Europa</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quiz
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="north_quiz">Norra Europa</a>
                                <a class="dropdown-item" href="west_quiz">Västra Europa</a>
                                <a class="dropdown-item" href="south_quiz">Södra Europa</a>
                                <a class="dropdown-item" href="east_quiz">Östra Europa</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Slut på navigation-->
        <main role="main">
            <div class="background-container">
                <div class="container marketing">
                    <h1 class="display-2">Södra Europa</h1>
                    <!-- Quiz funktionen slumpa och rätta -->
                    <hr class="featurette-divider">
                    <!-- Python kod -->
                    % for question in questions:
                    <div class="quiz_div">
                        <%
                            # Python code! Shuffle the answers!
                            answers = [
                            "right_answer",
                            "wrong_answer_1",
                            "wrong_answer_2"
                            ]

                            shuffle(answers)
                            %>
                        <h2>{{ question['Country'] }}</h2>
                        <p class="title">{{ question['Question'] }}</p>
                        % for answer in answers:
                        <label><input type="radio" value="{{ question[answer] }}" name="q,{{ question["QuestionID"] }}"  required >{{ question[answer] }}</label><br>
                        % end
                    </div>
                    % end
                    <input type="submit" value="Resultat" class="btn btn-success">
                </form>
            </div>
                <!--Länk till nästa quiz-sida-->
                <p class="float-right next-quiz"><a href="east_quiz">Nästa quiz &raquo;</a></p>
            <!--Collapse-funktion, Facit-->
            <button class="btn btn-primary btn-lg collapsible">FACIT</button>
            <div id="demo" class="collapse">
                <p><strong>LAND.</strong> RÄTT SVAR
                    <br>
                    <strong>Spanien:</strong> Kanarieöarna
                    <br>
                    <strong>Portugal:</strong> Ett av kontinentens varmaste länder
                    <br>
                    <strong>Italien:</strong> Över 60 miljoner
                    <br>
                    <strong>Österrike:</strong> Fem
                    <br>
                    <strong>Slovenien:</strong> Europas trejde skogstätaste land
                    <br>
                    <strong>Ungern:</strong> Donau
                    <br>
                    <strong>Kroatien:</strong> Dinara
                    <br>
                    <strong>Bosnien och Hercegovina:</strong> Landets kustlinje är 24 km lång
                    <br>
                    <strong>Montenegro:</strong> Skodersjön
                    <br>
                    <strong>Albanien:</strong> Medelhavsklimat
                    <br>
                    <strong>Serbien:</strong> Serbiska
                    <br>
                    <strong>Grekland:</strong> Snö och is
                    <br>
                    <strong>Bulgarien:</strong> Sofia
                    <br>
                    <strong>Makedonien:</strong> Vardar
                    <br>
                    <strong>Turkiet:</strong> Inlandsklimat
                    <br>
                    <strong>Malta:</strong> Valletta
                    <br>
                    <strong>San Marino:</strong> San Marino
                    <br>
                    <strong>Vatikanstaden:</strong> Plats 49
                </p>
            </div>
            </div>
            <!--Container marketing-->
        </main>
        <!-- FOOTER -->
        <footer class="container">
            <hr class="featurette-divider">
            <p class="float-right"><a href="west_quiz">Upp</a></p>
            <p>&copy; 2017-2018 YourGeo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        <!--JavaScript för Collapse-funktion-->
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placerad i slutet för att sidan ska laddas snabbare -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
