<!DOCTYPE html>
<html lang="se-sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your GEO</title>
    <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
    <meta name="description" content="Geographic for kids">
    <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header>
        <!-- Navigation meny -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><img class="logo" src="/static/img/Logo.png" alt="Logotyp"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Hem <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Läs På
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="north_facts">Norra Europa</a>
                            <a class="dropdown-item" href="west_facts">Västra Europa</a>
                            <a class="dropdown-item" href="south_facts">Södra Europa</a>
                            <a class="dropdown-item" href="east_facts">Östra Europa</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quiz
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="north_quiz">Norra Europa</a>
                            <a class="dropdown-item" href="west_quiz">Västra Europa</a>
                            <a class="dropdown-item" href="south_quiz">Södra Europa</a>
                            <a class="dropdown-item" href="east_quiz">Östra Europa</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!----------------- Södra europa fakta container   ------------------->
    <main role="main">
        <div class="container marketing">
            <!-- Södra Europa -->
            <h1 class="display-2">Södra Europa</h1>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Spanien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Madrid</li>
                        <li><strong>Officiellt språk:</strong> spanska</li>
                        <li><strong>Statsskick:</strong> Konstitutionell monarki</li>
                        <li><strong>Kung:</strong> Felipe VI </li>
                        <li><strong>Demografi:</strong> 46 030 109 (2010)</li>
                        <li><strong>Yta:</strong> 504 782km² (4 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Teide<br>Största sjö: Lago de Sanabria<br>Längsta flod: Tajo</li>
                        <li><strong>Geografi:</strong> Fastlandet domineras av höga platåer och bergskedjor. Längst kusten finns uppslammade slättland och i öst finns uppslammade slättland tillsammans med medelstora floder. Balearerna ligger i medelhavet
                            och Kanarieöarna i atlanten utanför afrikas kust.
                        </li>
                        <li><strong>Kända berg:</strong> Pyrenéerna, Sierra Nevada</li>
                        <li><strong>Känt vatten:</strong> Tajo, Ebro, Duero, Guadiana, Guadaquivir, Segura, Jûcar, Turia</li>
                        <li><strong>Klimat:</strong> Kan delas in i fyra områden. Medelhavet: främst subtropiskt i öst och söder. Mycket regn under vår och höst med milda vindar. Inlandet: Kontinentalt klimat, kyliga vindar (mycket snö i norr) och varma somrar.
                            Norra atlantkusten: nederbörd främst under vintern med milda något kalla somrar. Kanarieöarna: Subtropiskt klimat på gränsen till tropiskt, med milda temperaturer 18-24 grader hela året.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/spanienflag.png" alt="spanien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Portugal <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Lissabon</li>
                            <li><strong>Officiellt språk:</strong> portugisiska</li>
                            <li><strong>Statsskick:</strong> Republik</li>
                            <li><strong>President:</strong> Marcelo Rebelo de Sousa</li>
                            <li><strong>Demografi:</strong> 10 825 309 (2015)</li>
                            <li><strong>Yta:</strong> 92 090 km² (19 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Pnta do Pico (vulkan)
                                <br>Största sjö: Alqueva
                                <br>Längsta flod: Tajo
                            </li>
                            <li><strong>Geografi:</strong> Norra delen är bergig i inlandet med platåer som skärs av av fyra linjer som tillåter utveckling av relevanta jordbruksområden. Den södra delen består främst av slättland med något varmare och torrare
                                klimat än det regnigare norr. Ögrupperna Azorerna och Madeira ligger i Atlanten. På senare tid har de azoriska öarna haft nyligen haft vulkanisk aktivitet. En ny ö kan kommas att bildas inom en relativt snar framtid. Längst
                                kusten finns fina stränder. Längs kusten ligger också noterbara Ria de Aveiro, ett delta som är 45 kilometer långt.
                            </li>
                            <li><strong>Kända berg:</strong> Tejo</li>
                            <li><strong>Känt vatten:</strong> Douro, Minho, Guadina </li>
                            <li><strong>Klimat:</strong> Sydligaste Portugal har ett medelhavsklimat. Ett av Europas varmaste länder. Landet har en årlig medeltemperatur på 15 grader. Somrarna är varma och ligger över 30 grader i hela landet. Höst och vinter
                                är normalt sett regniga och blåsiga med inslag av soliga dagar. Snö är vanligt i de bergiga områdena i norr. </li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/portugalflag.png" alt="portugal flagga">

                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Italien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Rom</li>
                        <li><strong>Officiellt språk:</strong> italienska</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>President:</strong> Sergio Mattarella </li>
                        <li><strong>Demografi:</strong> 60 589 445 (2016)</li>
                        <li><strong>Yta:</strong> 301 340 km² (10 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Mont Blanc<br>Största sjö: Lago di Garda<br>Längsta flod: Po</li>
                        <li><strong>Geografi:</strong> Befolkningstätheten är varierande på grund av den stora förekomsten av berg. Italiens naturtillgångar är många med bland annat kol, kvicksilver, zink och marmor. Italien är inofficiellt indelat i tre
                            områden: Norra Italien: Den övre delen som sammanhänger med kontinenten och som går från Alperna ryggrad till den linje som går tvärs över landet ungefär där halvön börjar. I denna delen bor den största delen av befolkningen.
                            Mellersta Italien: norra och mellersta delen av halvön, ungefär till en linje som går söder om Rom tvärs över landet. Här ligger Rom. Södra Italien: Själva ”foten” och de stora öarna.
                        </li>
                        <li><strong>Kända berg:</strong> Alperna, Apenninerna, Etna (vulkan), Vesuvius (vulkan)</li>
                        <li><strong>Känt vatten:</strong> Po, Adige</li>
                        <li><strong>Klimat:</strong> Tempererat klimat med kall vinter och varm sommar råder i hela norra Italien, förutom Alperna och kusten i Genuabukten där det råder medelhavsklimat. Alpint klimat råder i Alperna och vissa delar av Apenninera.
                            Och medelhavsklimat råder längst hela kusten, förutom Venedigbukten, södra delen av landet (även inlandet), samt öar. Rom har medelhavsklimat. Pga de olika klimatområden gör det Italien till ett mycket rikt land även vad gäller
                            djur och växter. Det förekommer jordbävningar, laviner, vulkanutbrott och översvämningar. Italien har en del miljöproblem som är luftföroreningar från industrier, förorenade floder och kustvatten samt att hanteringen av det
                            industriella avfallet är dåligt.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/italienflag.JPG" alt="italien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Österrike <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Wein</li>
                            <li><strong>Officiellt språk:</strong> tyska</li>
                            <li><strong>Statsskick:</strong> Förbundsrepublik</li>
                            <li><strong>Förbundspresident:</strong> Alexander Van der Bellen</li>
                            <li><strong>Demografi:</strong> 8 772 867 (2017)</li>
                            <li><strong>Yta:</strong> 83 879 km² (20 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Grossglockner
                                <br>Största sjö: Bodensjön
                                <br>Längsta flod: Donau
                            </li>
                            <li><strong>Geografi:</strong> Österrike består av fem landskapsregioner. Den största delen (över 63%) upptas av Öst alperna. Enbart en tredjedel av landets yta ligger under 500 m ö.h. Därför kallas Österrike för Alpernas republik.
                                Weinerbäckenet i och nordost om Wien är ett slättlandskap mellan Alperna och Karpaterna.
                            </li>
                            <li><strong>Kända berg:</strong> Alperna, Grossglockner</li>
                            <li><strong>Känt vatten:</strong> Bodensjön, Neusiedlersjön, Donau</li>
                            <li><strong>Klimat:</strong> Österrike ligger i den tempererade klimatzonen. Dess läge i väst vid bältet gör att västliga vindar bestämmer väderförhållandena. I landets västra del råder maritimt klimat med fuktiga västvindar som
                                medför mycket nederbörd och gör att vintrarna är relativt milda och somrarna varma. I öster övergår klimatet till ett kontinentalt klimat – varma somrar, kalla vintrar och mindre nederbörd. Dessutom påverkas det lokala
                                klimatet starkt av den bergiga topografin. I bergen övergår klimatet först till ett tundraklimat och sedan vid de högsta topparna i Alperna till ett polarklimat. </li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/osterrikeflag.jpg" alt="osterrike flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Slovenien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Ljubljana</li>
                        <li><strong>Officiellt språk:</strong> slovenska (vissa delar italienska och ungerska)</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>President:</strong> Borut Pahor </li>
                        <li><strong>Demografi:</strong> 2 065 895 (2017)</li>
                        <li><strong>Yta:</strong> 20 273 km² (38 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Triglav<br>Största sjö: Cerknica<br>Längsta flod: Sava</li>
                        <li><strong>Geografi:</strong> Slovenien har en omväxlande natur med både alplandskap, föralpina områden, pannoniska slätten längst österut, karstlandskap och en kort medelhavskust mot Adriatiska havet. Ca 35 % av landet är skyddat
                            som Natura 2000, vilket gör Slovenien till det EU-land som har störst andel skyddad natur. Ungefär halva landets yta är täckt av skog. Därmed är Slovenien Europas tredje skogstätaste land efter Finland och Sverige. Rester av
                            de uråldriga skogarna kan fortfarande hittas.Tektoniskt ligger Slovenien på den adriatiska mikroplattans norra front, där den ansluter mot den eurasiska huvudplattan.
                        </li>
                        <li><strong>Kända berg:</strong> Triglav, Jalovec, Razor</li>
                        <li><strong>Känt vatten:</strong> Isonzo, Drava, Sava, Mura</li>
                        <li><strong>Klimat:</strong> Sloveniens väder är varierat. Klimatet styrs av bergskedjorna, närheten till havet och huvudsakligen västliga vindar. Det klassificeras som fuktigt varmtempererat, med kontinentala drag i den centrala och
                            östra delen av landet, subtropiskt i kustlandet och i alpint i Alperna.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/slovenienflag.png" alt="slovenien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Ungern <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Budapest</li>
                            <li><strong>Officiellt språk:</strong> ungerska</li>
                            <li><strong>Statsskick:</strong> Republik</li>
                            <li><strong>President:</strong> János Orbán</li>
                            <li><strong>Demografi:</strong> 9 830 485 (2016)</li>
                            <li><strong>Yta:</strong> 93 028 km² (18 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Kékes
                                <br>Största sjö: Balatonsjön
                                <br>Längsta flod: Donau
                            </li>
                            <li><strong>Geografi:</strong> Största delen av landet består av slättland, bland annat det stora området Alföld med inslag av pusta. Under förhistorisk tid var den ungerska slätten täckt av vatten, och ko m när vattnet drog sig
                                tillbaka att täckas av flodavlagringar, som i dag tillsammans med ditblåst lössjord ger stora vidder av mycket bördig mark. Två tredjedelar av Ungerns yta är uppodlad, främst odlas vete och majs. I nordvästra delen av landet
                                odlas vis. Största delen består av jordbruksmark, men det finns några rester av dess ursprungliga skog kvar. Försurning är landets största miljöproblem.
                            </li>
                            <li><strong>Kända berg:</strong> Medves, Kékes</li>
                            <li><strong>Känt vatten:</strong> Balatonsjön, Marcal</li>
                            <li><strong>Klimat:</strong> Landet har ett kontinentalt klimat med kalla, fuktiga vintrar och varma somrar. Den topografiska avgränsningen av Donauväckenet för att Ungern är utsatt för torka.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/ungernflag.png" alt="ungern flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Kroatien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Zagreb</li>
                        <li><strong>Officiellt språk:</strong> kroatiska</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>President:</strong> Kolinda Grabar-Kitarovic</li>
                        <li><strong>Demografi:</strong> 5 190 669 (2015)</li>
                        <li><strong>Yta:</strong> 56 594 km² (26 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Dinara<br>Största sjö: Vransko Jezero<br>Längsta flod: Sava</li>
                        <li><strong>Geografi:</strong> Landets form kan liknas vid en månskära eller hästsko. Kroatien ligger i gränslandet mellan Syd-, Central- och Östeuropa. Vilket gör det svårt att hänföra till en specifik region. I landets norra och
                            nordöstra del domineras terrängen av fält, sjöar och åsar. I den östligaste delen präglas landskapet av låglänt och bördig jordbruksmark. Regionerna Likas och Gorski kotars landskap präglas av tätt skogsbebodda berg emedan
                            den smala adriatiska kustremsan mestadels är bergig och topografin präglas av karst. Enligt den Kroatiska statiska centralbyråns definition har Kroatien 1185 öar, holmar och rev. Kroatien är därmed det land som har flest landformer
                            i Adriatiska havet och näst flest i Medelhavet efter Grekland. Av marknadsförings skäl kallas landet ibland för ”de tusen öarnas land”.
                        </li>
                        <li><strong>Kända berg:</strong> Dinara, Lika, Dalmatien, Zagora</li>
                        <li><strong>Känt vatten:</strong> Donau, Drava, Krka</li>
                        <li><strong>Klimat:</strong> Det varierar från att vara tempererat av kontinental typ i de norra och östra delarna av landet till att vara subtropiskt av Medelhavstyp vid kusten. I vissa bergsregioner mellan kusten och inlandet råder
                            bergsklimat. Årsnederbörden är relativt låg i stora delar av Kroatien tack vare läget vid Medelhavet. I landet råder stora temperaturskillnader mellan dag och natt samt sommar och vinter.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/kroatienflag.png" alt="kroatien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Bosnien och Hercegovina <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Sarajevo</li>
                            <li><strong>Officiellt språk:</strong> bosniska, kroatiska, serbiska</li>
                            <li><strong>Statsskick:</strong> Förbundsrepublik</li>
                            <li><strong>President:</strong> Dragan Covic</li>
                            <li><strong>Demografi:</strong> 3 531 159 (2013)</li>
                            <li><strong>Yta:</strong> 51 129 km² (27 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Maglic
                                <br>Största sjö: Busko Blato
                                <br>Längsta flod: Sava
                            </li>
                            <li><strong>Geografi:</strong> Landet ligger på västra Balkanhalvön. Ett slättland utbreder sig vid Sava i norr. I övrigt är landet för det mesta bergigt, skogsklätt och inkluderar centrala Dinariska Alperna. Det genomdras av breda
                                kitteldalar och avvattnas av Savas bifloder. Landet har endast en liten kustlinje på 24 kilometer. Denna sträcka ör omsluten av kroatiens territorium och territorialvatten, men Bosnien-Hercegovina har enligt internationell
                                rätt en garanterad korridor till internationellt vatten. Namnet Bosnien och Hercegovina kommer från det tidigare namnet Bosnien och regionen Hercegovina. Hercegovina utgör ungefär en fjärdedel av landets totala yta medan
                                Bosnien utgö den resterande delen.
                            </li>
                            <li><strong>Kända berg:</strong> Bjelasnica, Igman, Bogdani</li>
                            <li><strong>Känt vatten:</strong> Una, Drina, Sava</li>
                            <li><strong>Klimat:</strong> Större delen av Bosnien-Hercegovina har ett inlandsklimat med varma somrar och kalla vintrar. I de områden som ligger nära den korta kusten i söder råder medelhavsklimat.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/bosnienhercflag.jpg" alt="bosnien och hercegovina flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Montenegro <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Podgorica</li>
                        <li><strong>Officiellt språk:</strong> montenegrinska</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>President:</strong> Filip Viljanovic</li>
                        <li><strong>Demografi:</strong> 625 266 (2011)</li>
                        <li><strong>Yta:</strong> 13 026 km² (39 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Bobotov Kuk<br>Största sjö: Skadarsjön<br>Längsta flod: Tara</li>
                        <li><strong>Geografi:</strong> Montenegro domineras av bergslandskap, som endast till vissa delar är skogbeklädda. Landet har kust mot Adriatiska havet i Medelhavet i sydväst. I sydöst ligger Skodersjön, som delas mellan Montenegro
                            och Albanien.
                        </li>
                        <li><strong>Kända berg:</strong> Durmitor, Bobotov Kuk</li>
                        <li><strong>Känt vatten:</strong> Tara, Lim, Zeta</li>
                        <li><strong>Klimat:</strong> Det inre av Montenegro har ett inlandsklimat med kalla vintrar och varma, fuktiga somrar med jämnt fördelad nederbörd. Vid kusten råder medelhavsklimat med heta, torra somrar och relativt milda vintrar.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/montenegroflag.jpg" alt="montenegro flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Albanien <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Tirana</li>
                            <li><strong>Officiellt språk:</strong> albanska</li>
                            <li><strong>Statsskick:</strong> Parlamentarisk republik</li>
                            <li><strong>President:</strong> Ilir Meta</li>
                            <li><strong>Demografi:</strong> 2 876 591</li>
                            <li><strong>Yta:</strong> 28 748 km² (35 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Korab
                                <br>Största sjö: Shkodersjön
                                <br>Längsta flod: Drini
                            </li>
                            <li><strong>Geografi:</strong> Albanien består främst av mycket bergig terräng. Bergen är delvis skogbeklädda.
                            </li>
                            <li><strong>Kända berg:</strong> Dajti, Korab</li>
                            <li><strong>Känt vatten:</strong> Drini, Vjosa, Buna</li>
                            <li><strong>Klimat:</strong> Kustslättens klimat är av medelhavstyp med het, torr sommar och sval, regnig vinter. Bergsområdet har stora variationer i fråga om såväl temperatur som nederbörd. De högsta delarna får ofta över 2 000
                                mm regn och snö årligen.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/albanienflag.png" alt="albanien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Serbien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Belgrad</li>
                        <li><strong>Officiellt språk:</strong> serbiska</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>President:</strong> Aleksandar Vucic</li>
                        <li><strong>Demografi:</strong> 7 076 372 (2016)</li>
                        <li><strong>Yta:</strong> 77 474 km² (22 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Kapaonik<br>Största sjö: Derdap<br>Längsta flod: Doanu</li>
                        <li><strong>Geografi:</strong> Serbien ligger på Balkanhalvön. Landet är kustlöst och består av mycket bergiga landskap i södra delen av landet. Norra delen består mest av slättland med låga kullar. Donau utgör många sorters landsgränser.
                        </li>
                        <li><strong>Kända berg:</strong> Balkanbergen, Rtanj, Tara</li>
                        <li><strong>Känt vatten:</strong> Tisa, Tamis, Begej, Sava</li>
                        <li><strong>Klimat:</strong> Norra delen har kontinentalt klimat med fuktiga, varma somrar och kalla vintrar. Södra delen har torrare och varmare somrar och kallare vintrar med snöfall.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/serbienflag.png" alt="serbien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Grekland <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Aten</li>
                            <li><strong>Officiellt språk:</strong> grekiska</li>
                            <li><strong>Statsskick:</strong> Republik</li>
                            <li><strong>President:</strong> Propokis Pavlopoulos</li>
                            <li><strong>Demografi:</strong> 10 760 136 (2011)</li>
                            <li><strong>Yta:</strong> 131 940 km² (15 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Olympis
                                <br>Största sjö: Trichonida
                                <br>Längsta flod: Axios
                            </li>
                            <li><strong>Geografi:</strong> Grekland är kuperat och dess kustlinje djupt veckad, vilket hänger samman med bergen i dess inre som utgör den del av det bergssystem som täcker större delen av Balkanhalvön. De bergskedjor som skjuter
                                ut från Pindos sträcker sig ut i havet så att det mellan dem bildas bäcken och vikar. Jordskalv och, i betydligt mindre omfattning, vulkanutbrott förekommer.
                            </li>
                            <li><strong>Kända berg:</strong> Pindosbergen, Oite, Pindos</li>
                            <li><strong>Känt vatten:</strong> Axios, Struma</li>
                            <li><strong>Klimat:</strong> Grekland har ett medelhavsklimat, men med stora skillnader mellan norra och södra landet och mellan bergen och kusten samt inlandet. Snö och is är vanligt i de högre bergstrakterna. I vissa delar av
                                Grekland har dalarna hetta och torka på sommaren vilket kan bli ett problem, men svala vindar från berg och hav och de kyler ner stolar delar av landet på sommaren.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/greklandflag.png" alt="grekland flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Bulgarien <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Sofia</li>
                        <li><strong>Officiellt språk:</strong> bulgariska</li>
                        <li><strong>Statsskick:</strong> Parlamentarisk republik</li>
                        <li><strong>President:</strong> Rumen Radev</li>
                        <li><strong>Demografi:</strong> 7 101 879 (2016)</li>
                        <li><strong>Yta:</strong> 110 859 km² (16 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Musala<br>Största sjö: Burgassjön<br>Längsta flod: Donau</li>
                        <li><strong>Geografi:</strong> I sydväst är landet bergigt med två alpina bergskedjor. Balkanbergen går genom hela landet. Norr om floden Donau finns kuperad slättmark.
                        </li>
                        <li><strong>Kända berg:</strong> Rilabergen, Pirinbergen, Rodopibergen, Musala</li>
                        <li><strong>Känt vatten:</strong> Struma, Maritsa, Maritsa, Iskar, Jantra</li>
                        <li><strong>Klimat:</strong> I de norra delarna är det inlandsklimat medan klimatet i sydöst är medelhavstyp.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/bulgarienflag.jpg" alt="bulgarien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Makedonien <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Skopje</li>
                            <li><strong>Officiellt språk:</strong> makedoniska</li>
                            <li><strong>Statsskick:</strong> Parlamentarisk republik, enhetsstat</li>
                            <li><strong>President:</strong> Gjorge Ivanov</li>
                            <li><strong>Demografi:</strong> 2 087 171 (2010)
                            </li>
                            <li><strong>Yta:</strong> 25 713 km² (36 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Korab
                                <br>Största sjö: Ohridsjön
                                <br>Längsta flod: Vardar
                            </li>
                            <li><strong>Geografi:</strong> Makedoniens geografi kännetecknas av bland annat av ett centralt lågland, genomflutet av Vardar och dess bifloder. Omkring låglandet finns även berg, inklusive det 2 540 meter höga Jakupica. Västra
                                Makedonien är bergigt. Makedonien ligger i anslutning till kanten av en kontinentalplatta, och jordbävningar är förekommande. 1963 lades huvudstaden Skopje i ruiner i en kraftig jordbävning.
                            </li>
                            <li><strong>Kända berg:</strong> Baba, Korab</li>
                            <li><strong>Känt vatten:</strong> Vardar</li>
                            <li><strong>Klimat:</strong> Klimatet i landet har kontinental prägel. Nederbörden är ganska jämn över årets alla månader, och på vintern faller den mest som snö. På högre höjd ligger snötäcket många månader varje år.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/makedonienflag.jpg" alt="makedonien flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Turkiet <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> Ankara</li>
                        <li><strong>Officiellt språk:</strong> turkiska</li>
                        <li><strong>Statsskick:</strong> Republik, parlamentarism, enhetsstat</li>
                        <li><strong>President:</strong> Recep Tayyip Erdogan</li>
                        <li><strong>Demografi:</strong> 80 845 215 (2017)</li>
                        <li><strong>Yta:</strong> 783 562 km² (37 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Ararat<br>Största sjö: Vansjön<br>Längsta flod: Eufrat</li>
                        <li><strong>Geografi:</strong> Turkiets territorium är över 1 600 km långt och 800 km brett, med en grovt rektangulär form. Landet, som till ytan är världens 37:e största. Landet finns både i europa och asien.
                        </li>
                        <li><strong>Kända berg:</strong> Ararat, Ida</li>
                        <li><strong>Känt vatten:</strong> Coruh, Eufrat, Tigris, Dim River</li>
                        <li><strong>Klimat:</strong> Klimatet är ett tempererat medelhavsklimat med heta, torra somrar och milda, fuktiga och kalla vintrar, men förhållandena kan vara mycket strängare i det torrare inlandet. Bergen nära kusten hindrar medelhavsklimatet
                            från att sprida sig inåt land, vilket ger det inre av Turkiet ett inlandsklimat med distinkta årstider. Den centrala anatoliska platån utsätts mer för extremer än kustområdena. Vintrar på platån är särskilt stränga.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/turkietflag.jpg" alt="turkiet flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Malta <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Valletta</li>
                            <li><strong>Officiellt språk:</strong> maltesiska, engelska</li>
                            <li><strong>Statsskick:</strong> Republik</li>
                            <li><strong>President:</strong> Marie-Louise Coleiro Preca</li>
                            <li><strong>Demografi:</strong> 434 403 (2016)
                            </li>
                            <li><strong>Yta:</strong> 316 km² (45 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: Ta’Dmejrek
                                <br>Största sjö: -
                                <br>Längsta flod: -
                            </li>
                            <li><strong>Geografi:</strong> Malta är beläget cirka 93 kilometer söder om Sicilien och 333 kilometer nordost om närmaste punkt på det afrikanska fastlandet (i Tunisien]. Malta består av en ögrupp med sju öar varav endast de tre
                                största är befolkade. Terrängen på huvudön karaktäriseras av trädlösa sand- och kalkstensplatåner på omkring 200 meter över havet, som ofta stupar brant mot havet; mot norr faller höjden mera jämnt. Östkusten är sönderskuren
                                och har gott om naturliga hamnar. Landet saknar sjöar, och har inga floder. Jordbruket är helt beroende av konstbevattning, men färskvatten är en bristvara. Man tar till vara regnvatten, som samlas i stora cisterner. Vattenbristen
                                har drivit fram några arter av de få vilda växterna som tål saltvatten.

                            </li>
                            <li><strong>Kända berg:</strong> Ta’Dmejrek</li>
                            <li><strong>Känt vatten:</strong> -</li>
                            <li><strong>Klimat:</strong> Klimatet är maritimt av så kallad medelhavstyp: sommartid varmt och med torka; vintrar svalt och något regnigt. Årsmedelnederbörden är 578 millimeter. Det är ofta blåsigt, och Malta drabbas regelbundet
                                av mistralen, en kall torr vind från nordväst, och av den sydliga siroccon, som är mycket varm och torr.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/maltaflag.jpg" alt="malta flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">San Marino <span class="text-muted"></span></h2>
                    <ul>
                        <li><strong>Huvudstad:</strong> San Marino</li>
                        <li><strong>Officiellt språk:</strong> italienska</li>
                        <li><strong>Statsskick:</strong> Republik</li>
                        <li><strong>Regerande kaptener:</strong> Massimo Andrea Ugolini, Gian Nicola Berti </li>
                        <li><strong>Demografi:</strong> 33 300 (2016)</li>
                        <li><strong>Yta:</strong> 61 km² (47 största land i Europa) </li>
                        <li><strong>Topografi:</strong> <br>Högsta punkt: Monte Titano<br>Största sjö: -<br>Längsta flod: Ausa</li>
                        <li><strong>Geografi:</strong> San Marino är beläget på berget Monte Titanos sluttningar i östra delarna av Italien. San Marino är ett bergigt land: endast 17 % av jorden är brukbar. Landets största naturresurs är sten.
                        </li>
                        <li><strong>Kända berg:</strong> Monte Titano</li>
                        <li><strong>Känt vatten:</strong> Ausa, Marano, Rio San Marino</li>
                        <li><strong>Klimat:</strong> San Marino har medelhavsklimat med varma somrar och milda vintrar. Den genomsnittliga årsnederbörden är 686 mm regn. San Marino har anslutit sig till internationella miljöavtal om biologisk mångfald, klimatförändringar,
                            ökenspridning, förbud mot kärnvapenprov. De har undertecknat avtalen men inte ratificerat dem.
                        </li>
                    </ul>
                    <p class="lead">
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/sanmarinoflag.png" alt="san marino flagga">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Vatikanstaten <span class="text-muted"></span></h2>
                    <p class="lead">
                        <ul>
                            <li><strong>Huvudstad:</strong> Vatikanstaden (del av Rom, kan säga att det inte finns någon)</li>
                            <li><strong>Officiellt språk:</strong> italienska, latin</li>
                            <li><strong>Statsskick:</strong> Kyrkostat, absolut valmonarki</li>
                            <li><strong>Suverän:</strong> Franciskus </li>
                            <li><strong>Demografi:</strong> 836 (2017)
                            </li>
                            <li><strong>Yta:</strong> 0.44 km² (49 största land i Europa) </li>
                            <li><strong>Topografi:</strong> <br>Högsta punkt: 75 m.ö.h dock ej en namngiven plats
                                <br>Största sjö: -
                                <br>Längsta flod: -
                            </li>
                            <li><strong>Geografi:</strong> Vatikanstaten är världens minsta självständiga stat. Den ligger i Rom på en yta mindre än en halv kvadratkilometer. Inom området finns delar av Vatikankullen, som gett staten dess namn.

                            </li>
                            <li><strong>Kända berg:</strong> -</li>
                            <li><strong>Känt vatten:</strong> -</li>
                            <li><strong>Klimat:</strong> Vatikanstaten har samma klimat som Italiens huvudstad Rom där denna ministat ligger. Där råder medelhavsklimat med torra varma somrar och milda regniga vintrar. Medeltemperaturen är 26 grader i juli
                                och 7 grader i januari.</li>
                        </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="/static/img/vatikanstatenflag.png" alt="vatikanstaten flagga">
                </div>
            </div>


            <!-- /.container -->
            <!-- FOOTER -->
            <footer class="container">
                <hr class="featurette-divider">
                <p class="float-right"><a href="south_facts">Upp</a></p>
                <p>&copy; 2017-2018 YourGeo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
    </main>
    <!-- Bootstrap core JavaScript
                            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
