<!DOCTYPE html>
<html lang="se-sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your GEO</title>
        <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
        <meta name="description" content="Geographic for kids">
        <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
        <link rel="shortcut icon" href="/static/img/Logo.png" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
      <header>
      <!-- Navigation meny -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/"><img class="logo" src="static/img/Logo.png" alt="Logotyp"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="main">Hem<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Läs På
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="north_facts">Norra Europa</a>
                          <a class="dropdown-item" href="west_facts">Västra Europa</a>
                          <a class="dropdown-item" href="south_facts">Syd Europa</a>
                          <a class="dropdown-item" href="east_facts">Öst Europa</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Quiz
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="north_quiz">Norra Europa</a>
                          <a class="dropdown-item" href="west_quiz">Västra Europa</a>
                          <a class="dropdown-item" href="south_quiz">Syd Europa</a>
                          <a class="dropdown-item" href="east_quiz">Öst Europa</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" href="contact.html">Kontakt</a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <!--Slut på navigation-->


    <main role="main">
        <div class="container marketing">
            <h1 class="display-2">Västra Europa</h1>
            <hr class="featurette-divider">

        <!--fråga-->
        <form>
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Irland<span class="text-muted"></span></h2>
                    <p>Vad heter landets längsta flod?</p>

                        <div class="three_radios">
                        <div class="radio">
                            <label><input type="radio" name="optradio">Nore</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Shannon</label>
                        </div>
                        <div class="radio disabled">
                            <label><input type="radio" name="optradio">Suir</label>
                        </div>
                        </div>
                </div>
            </div>
        </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Storbrittanien<span class="text-muted"></span></h2>
                        <p>Landet är uppdelat i tre självstyrande riksdelar, vilken av följande är <em>inte</em> en sådan?</p>

                        <div class="three_radios">
                        <div class="radio">
                            <label><input type="radio" name="optradio">Wales</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Skottland</label>
                        </div>
                        <div class="radio disabled">
                            <label><input type="radio" name="optradio">Manchester</label>
                        </div>
                        </div>
                    </div>
                </div>
            </form>

      <!--fråga-->
        <hr class="featurette-divider">
          <form>
              <div class="row featurette">
                  <div class="col-md-7">
                      <h2 class="featurette-heading">Tyskland<span class="text-muted"></span></h2>
                      <p>Vilket berg finns <em>inte</em> i landet?</p>

                      <div class="three_radios">
                        <div class="radio">
                          <label><input type="radio" name="optradio">Alperna</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Sierra Nevada</label>
                        </div>
                        <div class="radio disabled">
                          <label><input type="radio" name="optradio">Harz</label>
                        </div>
                      </div>
                  </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Nederländerna<span class="text-muted"></span></h2>
                        <p>Vad är anmärkningsbart med landets geografi?</p>

                        <div class="three_radios">
                          <div class="radio">
                            <label><input type="radio" name="optradio">En fjärdedel av landet ligger under havsytans nivå</label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="optradio">En fjärdedel av landet ligger endast 50 meter över havsytan nivå</label>
                          </div>
                          <div class="radio disabled">
                            <label><input type="radio" name="optradio">Hälften av landet ligger under havsytans nivå</label>
                          </div>
                        </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Frankrike<span class="text-muted"></span></h2>
                        <p>Vad passar landets klimat?</p>

                        <div class="three_radios">
                          <div class="radio">
                            <label><input type="radio" name="optradio">Extrema klimatförhållanden råder ofta</label>
                          </div>
                          <div class="radio">
                              <label><input type="radio" name="optradio">Både svalt och hett i hela Landet</label>
                          </div>
                          <div class="radio disabled">
                            <label><input type="radio" name="optradio">Svalt i norr och hett i söder</label>
                          </div>
                        </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Belgien<span class="text-muted"></span></h2>
                        <p>Ungefär hur många invånare hade landet år 2016?</p>

                            <div class="three_radios">
                            <div class="radio">
                                <label><input type="radio" name="optradio">ca 11 miljoner</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">ca 9 miljoner</label>
                            </div>
                            <div class="radio disabled">
                                <label><input type="radio" name="optradio">ca 5 miljoner</label>
                            </div>
                            </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Luxemburg<span class="text-muted"></span></h2>
                        <p>Vilket av följande <em>är</em> ett officiellt språk i landet?</p>

                            <div class="three_radios">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Engelska</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Tyska</label>
                            </div>
                            <div class="radio disabled">
                                <label><input type="radio" name="optradio">Danska</label>
                            </div>
                            </div>
                    </div>
                  </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Tjeckien<span class="text-muted"></span></h2>
                        <p>Vad heter den högsta punkten i landet?</p>

                            <div class="three_radios">
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Lalezka</label>
                            </div>
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Seska</label>
                            </div>
                            <div class="radio disabled">
                                  <label><input type="radio" name="optradio">Snezka</label>
                            </div>
                            </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Schweiz<span class="text-muted"></span></h2>
                        <p>Vilken sorts statsskick har landet?</p>

                            <div class="three_radios">
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Demokrati</label>
                            </div>
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Förbundsrepoblik</label>
                            </div>
                            <div class="radio disabled">
                                  <label><input type="radio" name="optradio">konstitutionell monarki</label>
                            </div>
                            </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Liechtenstein<span class="text-muted"></span></h2>
                        <p>På vilken plats hamnar landet innan i ytstorlek?</p>

                            <div class="three_radios">
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Plats 46</label>
                            </div>
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Plats 10</label>
                            </div>
                            <div class="radio disabled">
                                  <label><input type="radio" name="optradio">Plats 34</label>
                            </div>
                            </div>
                      </div>
                  </div>
              </form>

        <!--fråga-->
        <hr class="featurette-divider">
            <form>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Andorra<span class="text-muted"></span></h2>
                        <p>Vad för terräng består landet främst av?</p>

                            <div class="three_radios">
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Skogsterräng</label>
                            </div>
                            <div class="radio">
                                  <label><input type="radio" name="optradio">Bergsterräng</label>
                            </div>
                            <div class="radio disabled">
                                  <label><input type="radio" name="optradio">Sandterräng</label>
                            </div>
                            </div>
                    </div>
                </div>
            </form>

        <!--fråga-->
          <hr class="featurette-divider">
              <form>
                  <div class="row featurette">
                      <div class="col-md-7">
                          <h2 class="featurette-heading">Monaco<span class="text-muted"></span></h2>
                          <p>Vilket av följande finns i landet?</p>

                              <div class="three_radios">
                              <div class="radio">
                                    <label><input type="radio" name="optradio">Sjö</label>
                              </div>
                              <div class="radio">
                                    <label><input type="radio" name="optradio">Flod</label>
                              </div>
                              <div class="radio disabled">
                                    <label><input type="radio" name="optradio">Hög punkt</label>
                              </div>
                              </div>
                      </div>
                  </div>
              </form>
        </div> <!--Container marketing-->

<!--Länk till nästa quiz-sida-->
    <p class="float-right"><a href="south_quiz">Syd-quiz!</a></p>

<!--Collapse: visar svar till varje fråga, FACIT-->
    <a href="#demo" class="btn btn-primary" data-toggle="collapse">FACIT</a>
        <div id="demo" class="collapse">
            LAND       RÄTT SVAR
            <strong>Irland:</strong> Shannon
            <hr class="featurette-divider">
            <strong>Storbrittanien:</strong> Manchester
            <br>
            <strong>Tyskland:</strong> Sierra Nevada
            <strong>Nederländerna:</strong> Hälften av landet ligger under havsytans nivå
            <strong>Frankrike:</strong> Svalt i norr och hett i söder
            <strong>Belgien:</strong> Ca 11 miljoner
            <strong>Luxemburg:</strong> Tyska
            <strong>Tjeckien:</strong> Snezka
            <strong>Schweiz:</strong> Förbundsrepublik
            <strong>Liechtenstein:</strong> Plats 46
            <strong>Andorra:</strong> Bergsterräng
            <strong>Monaco:</strong> Hög punkt
        </div>
</main>

<!--Footer-->
    <hr class="featurette-divider">
    <footer class="container">
        <p class="float-right"><a href="west_quiz">Upp</a></p>
        <p>&copy; 2017-2018 YourGeo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


    </body>
</html>
