body{
    background-color: ;
    background: url(../Img/orangewall.jpg)
}



/* ---Main--- */
.logo{
    width: 70px;
}

/* Header */

.carousel-inner img{
    width: 45%;
    height: ;
    margin-top: 10%;
    margin-left: 14%;
    margin-right: auto;
    border-radius: 15px;

}

.carousel-inner h1{
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.carousel-inner p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



/* ---NORRA EUROPA--- */

 /* Rubrik Norra EU */

.display-2{
    margin-top: 20%;
}

.col-md-5 img{
    width: 250px;
    height: 150px;
}

 /* Kontakt */
.first-box{padding:10px;background:#9C0;}
.second-box{padding:10px; background:#39F;}
.third-box{padding:10px;background:#F66;}
.fourth-box{padding:10px;background:#6CC;}



/*Collapse Facit*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
