body{
    background-color: ;
    background: url(../Img/orangewall.jpg)
}

/* ---Logo on navbar--- */
.logo{
    width: 70px;
}

/* ---Section 1 homepage--- */

.carousel-inner img{
    width: 45%;
    height: ;
    margin-top: 10%;
    margin-left: 14%;
    margin-right: auto;
    border-radius: 15px;

}



.homepage{
    margin-top: 8%;
}

/* ---Text on kid pic--- */


.carousel-inner h1{
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.carousel-inner p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* ---Section 2 homepage--- */
.section2{
    margin-left: 10%;
}

/* ---Section 3 homepage--- */

.eu-pic{
    border-radius: 15px;
}

.row-info{
    margin-top: 60px;
}



/* ---Alla fakta sidor--- */

 /* Rubrik */

.display-2{
    margin-top: 20%;
}

.col-md-5 img{
    width: 250px;
    height: 150px;
}

 /* Kontakt sidan */
.contactlist{
    margin-bottom: 17%;
}

.first-box{padding:10px;background:#9C0;}
.second-box{padding:10px; background:#39F;}
.third-box{padding:10px;background:#F66;}
.fourth-box{padding:10px;background:#6CC;}


<<<<<<< HEAD
=======

/*Collapse Facit*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
>>>>>>> 6f68375c4ca2ab0a9abd0556d4bea7f3d82b026c
