body{
    background-color: ;
    background: url(../Img/orangewall.jpg)
}

main{
  margin-top: 100px;
}

/* ---Logotyp on navbar--- */
.logo{
    width: 70px;
}

/* ---Section 1 startpage--- */
.homepage{
    margin-top: 8%;
}

/* ---Photo on kids--- */
.img-kid{
  position: block;
  top: 50%;
  left: 50%;
  /*margin-left: auto;
  margin-right: auto;
  display: block;*/

}

.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---Section 2 startpage--- */
.section2{
    margin-left: 10%;
}

/* ---Section 3 firstpage--- */

.eu-pic{
    border-radius: 15px;
}

.row-info{
    margin-top: 60px;
}



/* ---All _facts pages--- */

 /* ---Headline--- */

.display-2{
    margin-top: 20%;
}

.col-md-5 img{
    width: 250px;
    height: 150px;
}

 /* ---Contact page--- */
.contactlist{
    margin-top: 17%;
    margin-bottom: 20%;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.first-box{padding:10px;background:#9C0;}

.second-box{padding:10px; background:#39F;}

.third-box{padding:10px;background:#F66;}

.fourth-box{padding:10px;background:#6CC;}


/* ---Collapse Facit--- */
.collapsible {
    background-color: ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: ;
    border: none;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 40px;
    margin-bottom: 3%
}

.collapsible:hover {
    background-color:MediumSeaGreen;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #F5F5F5;
}

/* ---Container for quiz--- */

.background-container{
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.next-quiz{
    margin-top: 80px;
    margin-right: 15px;
}

/* ---CSS for quiz--- */

.quiz_div{
    flex: 0 0 25%;
    max-width: 40%;
}
