<!DOCTYPE html>
<html lang="sv">
<head>
    <title>YourGEO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="layout.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <!--<header>
            <h1>Your GEO</h1>
            <p>Välkomen till hemsidan där du får lära dig om alla Europas länder!</p>
        </header>-->

        <nav>
            <ul>
                <li><a href="index.html">Startsida</a></li>
                <li><a href="fakta-1.html">Fakta</a></li>
                <li><a href="#">Frågor</a></li>
                <li id="info"><a href="#">Info</a></li>
            </ul>
        </nav>

      <div id="jumbo">
        <header>
            <img src="exp-pic.png" alt="Header bild">
        </header>
      </div>

        <footer>
            <p>Detta är footern</p>
        </footer>
    </div>
</body>

</html>
