<!DOCTYPE html>
<html lang="se-sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your GEO</title>
        <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
        <meta name="description" content="Geographic for kids">
        <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
        <link rel="shortcut icon" href="../Img/Logo.png" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <header>
            <!-- Navigation meny -->
            <nav class="navigation navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="main.html"><img class="logo" src="../Img/Logo.png" alt="Logotyp"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Hem <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Läs På
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="north_facts.html">Norra Europa</a>
                                <a class="dropdown-item" href="#">Västra Europa</a>
                                <a class="dropdown-item" href="#">Syd Europa</a>
                                <a class="dropdown-item" href="#">Öst Europa</a>    
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quiz
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Norra Europa</a>
                                <a class="dropdown-item" href="#">Västra Europa</a>
                                <a class="dropdown-item" href="#">Syd Europa</a>
                                <a class="dropdown-item" href="#">Öst Europa</a>    
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!----------------- Main   ------------------->
        <main role="main">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="First-pic" src="../Img/kidsplaying.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Lär dig Geografi</h1>
                            <p>YourGeo! är en fakta-baserad sida för lärande som är användbar på flera plattform <br> och används i klassrummet, Läs och svara på quiz!</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Börja nu</a></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>    
            <!--   -->
            <div class="container marketing">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
                <!-- Bild och förklaring om hemsidan -->
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">FÖR BARN<span class="text-muted"> Lär dig fakta om länderna i Europa förstärka dina 
                            kunskaper!
                            </span>
                        </h2>
                        <p class="lead"></p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="../Img/kidsplaying.jpg" alt="Barn bild">
                    </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
                
                
                <hr class="featurette-divider">
                <div class="row featurette">
                </div>
                <hr class="featurette-divider">
                <!-- / Slut Fördelning linje -->
            </div>
            <!-- /.container -->
            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Upp</a></p>
                <p>&copy; 2017-2018 YourGeo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>