<!DOCTYPE html>
<html lang="se-sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your GEO</title>
        <meta name="Author" content="Amir, Mirella, Viktoryia, Vilma">
        <meta name="description" content="Geographic for kids">
        <meta name="Keywords" content="Geografi,Lärande,Barn,Lärare,skolor">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
      <header>
      <!-- Navigation meny -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="Main.html"><img class="logo" src="../Img/Logo.png" alt="Logotyp"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="Main.html">Hem<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Läs På
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="NorthFacts.html">Norra Europa</a>
                          <a class="dropdown-item" href="#">Västra Europa</a>
                          <a class="dropdown-item" href="#">Syd Europa</a>
                          <a class="dropdown-item" href="#">Öst Europa</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Quiz
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="north_quiz.html">Norra Europa</a>
                          <a class="dropdown-item" href="#">Västra Europa</a>
                          <a class="dropdown-item" href="#">Syd Europa</a>
                          <a class="dropdown-item" href="#">Öst Europa</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" href="#">Kontakt</a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <!--Slut på navigation-->

    <main role="main">
        <div class="container marketing">
          <h1 class="display-2">Norra Europa</h1>

          <!--HÄR KOMMER FRÅGOR, fram till nästa kommentar med CAPS slutar fråge-sektionen-->
              <hr class="featurette-divider">
              <div class="row featurette">
                  <div class="col-md-7">
                      <h2 class="featurette-heading">Island <span class="text-muted"></span></h2>
                      <!-- Här kommer frågan-->
                      <p>Vad heter den kända vulkanen?<p>
                      <!--Här komemr radioknappar-->
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                              Hekla
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                              Etna
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                              Katlan
                          </label>
                      </div>
                    </div>
          <!--HÄR SLUTAR FRÅGE-SEKTIONEN-->

          <!--HÄR KOMMER FRÅGOR, fram till nästa kommentar med CAPS slutar fråge-sektionen-->
              <hr class="featurette-divider">
              <div class="row featurette">
                  <div class="col-md-7">
                      <h2 class="featurette-heading">Island <span class="text-muted"></span></h2>
                      <!-- Här kommer frågan-->
                      <p>Vad heter den kända vulkanen?<p>
                      <!--Här komemr radioknappar-->
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                              Hekla
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                              Etna
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                              Katlan
                          </label>
                      </div>
                    </div>
                  </div>
          <!--HÄR SLUTAR FRÅGE-SEKTIONEN-->



                      <p class="lead">
                      </p>
                  </div>



<!-- Här är det checkboxes-->









    </body>
