<!DOCTYPE html>
<html lang="se-sv">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Your GEO</title>
      <meta name="Amir, Mirella, Vilma, Viktoriya" content="Geografi">
      <meta name="Your GEO" content="Geografi">
      <meta name="GEO" content="Geografi,Lärande,Barn,Lärare">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/main.css">
      
</head>
<body>
    

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img class="Logo" src="../Img/Logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="Main.html">Hem <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Läs På
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Norra Europa</a>
          <a class="dropdown-item" href="#">Västra Europa</a>
          <a class="dropdown-item" href="#">Syd Europa</a>
          <a class="dropdown-item" href="#">Öst Europa</a>    
        </div>
      </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quiz
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Norra Europa</a>
          <a class="dropdown-item" href="#">Västra Europa</a>
          <a class="dropdown-item" href="#">Syd Europa</a>
          <a class="dropdown-item" href="#">Öst Europa</a>    
        </div>
      </li>          
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Kontakt</a>
            </li>
          </ul>
          
        </div>
      </nav>
    </header>

    <main role="main">

      
       

      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       
        <!-- START THE FEATURETTES -->
        <h1 class="display-2">Norra Europa</h1>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Island <span class="text-muted"></span></h2>
              <ul>
                  <li><strong>Huvudstad:</strong> Reykjavik</li>     
                  <li><strong>Officiellt språk:</strong> isländska</li>
                  <li>President: Guoni Jóhannesson</li>
                  <li>Demografi: 343 960 (2017)</li>
                  <li>Yta: 103 000 km² (17 största land i europa)</li>
                  <li>Topografi: Högsta punkt: Hvannadalshnjúkur<br>Största sjö: Þingvallavatn<br>Längsta flod: Pjórsá</li>
                  
                  <li>Geografi: Island är en öbildning som bildades genom vulkanism och detta präglar landets geologiska karaktär. Naturen på ön anses vara mycket vacker. Man kan bland annat se den kända vulkanen Hekla.
                    I väst finns fjordar och i den södra delen av kusten har det bildats en sandslätt av avlagringar från floder. Östra kustens fjordar är många men de är mindre vid den västra kusten. 
                    Med undantag från sydkusten, som till största delen är jämn och sandig, är Islands stränder i allmänhet väldigt branta.
                    </li>
              </ul>
            <p class="lead">
                </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../Img/islandflag.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Norge <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../Img/norgeflag.png">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Sverige <span class="text-muted"></span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../Img/sverigeflag.png">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>